* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul , ol{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;    

}

//----------- header---------------


header{
        background: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
    border-radius: 0px;
    position: fixed;
    width: 100%;
    z-index: 9;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;


    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;


        &__item{
            display: flex;

            li{
                margin-left: 32px;
                a{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 24px;
                    color: #666666;
                    
                }
            }
        }

        button{
            margin-left: 26px;
            padding: 10px 25px;
            background: #222222;
            border-radius: 4px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;

            color: #FFFFFF;
        }
    }

}

.btn{
    padding:  10px 25px;
    background: #222222;
    border-radius: 4px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

// -------------------main section------------------------

.frame{
    
    display: flex;
    justify-content: space-between;
    padding-top: 190px;
    padding-left: 85px;
    padding-right: 85px;
    width: 100%;


    &__left{
        width: 35.33%;
        display: flex;
        flex-direction: column;

        img{
            margin-top: 60px;
            width: 200px;
        }

        &__theme{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 54px;
            line-height: 59px;
            color: #222222;
        }

        p{
            margin-top: 18px;
            padding-right: 20px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #222222;
        }

        div{
            margin-top: 20px;
            gap: 10px;
        }


    }

    &__right{
        img{
            position: relative;
            z-index: -1;
        }
        
    }
}

//------------------- section Features------------------

#Features{
    margin-top: -210px;
    background: #222222;
    padding: 100px;
}

.restange__top{
    
    &__Features{
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &__theme{
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 36px;
        text-align: center;
        color: #FFFFFF;
    }
}

.restangle{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;

    &__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 31.33%;
        background: #FFFFFF;
        border-radius: 20px;

        margin: 11px;
        z-index: 1;

        &__img{
            position: relative;
            z-index: 2;
        }


      &__top{
        background: #F2F2F2;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 20px 20px;;
        margin-top: -203px;
        z-index: 3;
        width: 100%;
        padding-bottom: 40px;
        padding-left: 68px;
        padding-right: 68px;

        &__img1{
            text-align:center;
            margin-left: 35%;
            z-index: 4;
            margin-top: -30px;
        }


        h3{
            margin-top: 20px;
        }

        &_them1{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            color: #0278ED;
        }

        &_them2{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            color: #FF5437;
        }

        &_them3{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            color: #FF9209;
        }

        &_them4{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            color: #E738CE;
        }

        &_them5{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            color: #00C6DF;
        }
        &_them6{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            color: #B25DF8;
        }



        p{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            text-align: center;
            color: #222222;
            margin-top: 11px;
        }
      }  
    }
}



// ---------------------------header about-----------------------

.about{
    background: #FF5437;
}
.about__item{
    display: flex;
    justify-content: space-between;
    padding: 80px 100px;

    &__list{
        display: flex;
        flex-direction: column;
        align-items: center;

        &_text{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 95px;
            line-height: 96px;
            text-align: center;
            color: #FFFFFF;
        }

        &_text1{
            margin-top: 20px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #FFFFFF;
        }

    }
}

//-------------------- section techno------------------------

.techno__item{
    padding-left: 100px;
    padding-top: 100px;
    padding-right: 100px;

    display: flex;
    justify-content: space-between;

    &__img1{
        z-index: -1;
    }

    &__img2{
        border-top-left-radius: 80px;
        border-top-right-radius: 80px;
    }

    &__list{
        width: 33.33%;
        padding: 60px 2px;

        &__text{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #222222;
        }

        h4{
            margin-top: 5px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 36px;
            color: #222222;
        }

        &__text1{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            margin-top: 15px;
            color: #666666;
            padding-right: 5px;
        }
    }



    //------------------- section techto 2-------------------



}
  .techno{
    margin-top: -200px;
    background: #F2F2F2; 
    z-index: 0;
    }

    // --------------------section Dark mode----------------------

.dark{
    background: #222222;
}

.dark__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    border-bottom: 2px solid white;
    width: 600px;
    &__text1{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    h3{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 36px;
        text-align: center;
        color: #FFFFFF;
    }

    &__text2{
        margin-top: 14px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
    }

    img{
        margin-top: 36px;
        border-top-left-radius: 80px;
        border-top-right-radius: 80px;
    }


}
.dark__top{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 160px;
}

.dark__iclone{
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin-top: 41px;
    &_list{
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            margin-top: 5px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
}


//----------------- section pricing-------------------

.pricing__item{
    padding-top: 100px;
    padding-bottom: 100px;

    &__svg{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #222222;
    }

    &__theme{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 36px;
        text-align: center;
        color: #222222;
    }

    &__theme__text{
        margin-top: 14px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: #666666;
    }

    &__bottom{
      margin-top: 41px;  
      display: flex;
      justify-content: space-between;

      &__rectange{
        background: #E5E5E5;
        border-radius: 20px;
        padding: 40px 118px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &_1{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            color: #0278ED;
        }

        &_2{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 108px;
            line-height: 124px;
            letter-spacing: 8px;
            color: #0278ED;
        }

        &_3{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #222222;
        }

        button{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #FFFFFF;
            background: #0278ED;
            border-radius: 4px;
            padding: 10px 25px;
            margin-top: 20px;
            border: none;
        }
      }


      &__top{
        background: #E5E5E5;
        border-radius: 20px;
        padding: 40px 83px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &_rectange1{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 24px;
            color: #FF5437;
        }

        &_rectange2{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 105px;
            line-height: 124px;
            letter-spacing: 8px;
            color: #FF5437;
        }

        &_rectange3{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #222222;
        }

        button{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #FFFFFF;
            border-radius: 4px;
            padding: 10px 25px;
            margin-top: 20px;
            border: none;
            background: #FF5437;
        }
      }

      &__right{
        background: #E5E5E5;
        border-radius: 20px;
        padding: 40px 62px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &_rectange1{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            color: #FF9209;
        }

        &_rectange2{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 104px;
            line-height: 124px;
            text-align: center;
            letter-spacing: 8px;
            color: #FF9209;
        }

        &_rectange3{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #222222;
        }

        button{
            border-radius: 4px;
            padding: 10px 25px;
            margin-top: 20px;
            border: none;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #FFFFFF;   
            background: #FF9209;
        }
      }
    }
   
}


//-------------- section Testimonials---------------


#Testimonials{
    background: #F2F2F2;
}

.Testimonials__item{
    padding-top: 100px;
    padding-bottom: 100px;
    &__svg{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */

        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;

        color: #222222;
    }

    &__theme{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 36px;
        text-align: center;
        color: #222222;
    }

    &__theme__text{
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: #666666;
        margin-top: 14px;
    }

    &__div{
        margin-top: 41px;
        display: flex;
        justify-content: space-between;
        

        &_list{
            background: #FFFFFF;
            border-radius: 20px;
            padding: 30px 92px 30px   30px;
            width: 31.33%;

            &__text{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                /* or 150% */


                color: #222222;
            }

            &__div{
                display: flex;
                margin-top: 22px;
                align-items: center;
                p{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    margin-left: 10px;
                    color: #1B1A1A;
                }
            }

            &__div1{
                margin-top: 44px;
                display: flex;
                align-items: center;
                &_list{
                    
                    p{
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                        margin-left: 10px;
                        color: #1B1A1A;   
                    }
                }
            }

        }
    }
}

// --------------------section Download---------------------

.down__item{
    padding-top: 100px;
    padding-bottom: 141px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__svg__text{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #222222;
    }

    &__theme{
        margin-top: 5px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 36px;
        color: #222222;
    }

    &__text{
        margin-top: 14px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #666666;
    }

    &__link{
        margin-top: 27px;
    }


}

//-------------------- section Instructions----------------------


#Instructions{
    background: #E5E5E5;
}

.Instructions__item{
    padding-top: 105px;
    padding-bottom: 110px;
    display: flex;
    justify-content: space-between;
    
    
    &_list{
        width: 100%;

        &__svg{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 36px;
            color: #222222;
        }

        &__text1{
            margin-top: 13px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            color: #222222;
        }

        &__text2{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: #222222;
            margin-top: 42px;
        }

        &__text3{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            margin-top: 10px;
            color: #222222;
        }

        &__text4{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: #222222;
            margin-top: 50px;
        }

       &__text5{
        margin-top: 10px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #222222;
       } 

       &__text6{
        margin-top: 114px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #222222;
       }

       &__text7{
        margin-top: 7px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #222222;
       }

       &__text8{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #222222;
        margin-top: 48px;
       }

       &__text9{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #222222;
        margin-top: 10px;

       }
    }
}


//---------------- section footer-------------------

.footer{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_div{
        display: flex;
        gap: 20px;
        margin-top: 29px;
        align-items: center;
    }

    &__top{
        display: flex;
        align-items: center;
        margin-top: 20px;

        &_text{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #B1B1B1;
        }

        &_text1{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #666666;
            margin-left: 3px;
        }
    }

}




    





